html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#root {
  height: 100%;
  width: 100%;
}
body {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.conversation {
  width: 100%;
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #161b22;
}

.live {
  width: 100%;
  height: 90%;
  /* background-color: #242628; */
}

.mainVideo {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: #242628;
  position: relative;
}

.main-peer-stream {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-peer-stream video {
  width: 100%;
  height: 100%;
}

.streamers-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.streamers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 20%;
  width: fit-content;
  background-color: #242628;
  padding-bottom: 10px;
  min-width: 100%;
}


.streamer {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
  background-color: rgb(24, 24, 24);
}

.peer-stream-block {
  min-width: 250px;
  height: 140px;
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
}

.peer-stream-block video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.peer-stream-plug {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.peer-stream-top-menu {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 30px;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  background: #0003;
}

.peer-name {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.peer-stream-bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 30px;
  display: flex;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
}

.properites {
  width: 100%;
  height: 70px;
  background-color: #161b22;
  display: flex;
  justify-content: space-around;
}

.left_prop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 10px;
}

.left_prop > * {
  font-size: 0px;
  cursor: pointer;
  margin-right: 30px;
  color: #cecece;
  transform: scale(1.8);
}

.right_prop {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-end;
}

.right_prop > * {
  height: 50%;
  width: 150px;
}

.chat-disabled {
  width: 0%;
  height: 100%;
  transition: width 0.5s ease-out;
}

.chat-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  /* padding: 5px; */
  width: 30%;
  height: 100%;
  background-color: #23262a;
  transition: width 0.5s ease-out;
}

@media (max-width: 700px) {
  .chat-active {
    display: none;
  }
}
.textArea {
  width: 100%;
  /* min-height: 100%; */
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  padding: 0 5px;
  flex-wrap: nowrap;
  background-color: #161b22;
  backdrop-filter: blur(100px);
}
.messageBox {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: fit-content;
  min-height: 50px;
  margin: 5px;
  width: auto;
  border-radius: 15px;
  background-color: #3f51b1;
  /* backdrop-filter: blur(100px); */
}

.message {
  margin-left: 10px;
  height: fit-content;
}

.sendMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* margin-top: 10px; */
  width: 100%;
  height: 70px !important;
  background-color: #161b22;
}

@keyframes chat {
  from {
    width: 20%;
  }
  to {
    width: 0;
  }
}
